@charset "uft-8";
body{
    background-color: cornflowerblue;
    width: 1200px;
    height: 600px;
}
#start{
    margin-left: 42%;
    margin-top: 30%;
}

.painelcentral{
   width: 223px;
   height: 223px;
   margin-left: 42%;
   margin-top: 1%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   background-color:blueviolet;

   border-radius: 2px;
}
.quadrado{
    width: 70px;
    height: 70px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
} 
#p1{
    border-right:3px solid black;
    border-bottom:3px solid black; 
  }     

#p2{
    border-left:3px solid black;
    border-bottom:3px solid black; 
    border-right: 3px solid black;
}
#p3{
    border-left:3px solid black;
    border-bottom:3px solid black; ;
}
#p4{
    border-bottom:3px solid black;
    border-right:3px solid black ; 
    border-top:3px solid black;
}
#p5{
    border-left:3px solid black;
    border-bottom:3px solid black;
    border-right:3px solid black ; 
    border-top:3px solid black;
}
#p6{
    border-top:3px solid black;
    border-left:3px solid black;
    border-bottom:3px solid black; 
}
#p7{
    border-right:3px solid black ; 
    border-top:3px solid black;
}
#p8{
    border-left:3px solid black;
    border-right:3px solid black ; 
    border-top:3px solid black;
}
#p9{
    border-left:3px solid black;
    border-top:3px solid black;
}